<form>
    <div>
        <label>Firs Name</label>
        <input type="text" placeholder="first name" />
    </div>
</form>
{% schema %}
    {
        "name": "cod form",
        "templates": ["product"],
        "target": "section",
        "settings": []
    }
{% endschema %}